@tailwind base;
@tailwind components;
@tailwind utilities;

.accordion-content {
  transition: margin-bottom 500ms ease-in-out 300ms;
  margin-bottom: -300px;
}

.accordion-content-auto {
  transition: margin-bottom 600ms ease-in-out 0ms;
  margin-bottom: 0px;
}

.custom {
  overflow: visible;
  -webkit-transition: max-height 1000ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: max-height 1000ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  max-height: 0;
  transition-duration: 1000ms;
}
